<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}

    <meta charset="UTF-8">
    <title>Title</title>
    {# boostrap css #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {# custom css file #}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <!-- INPUT -->
    <div class="container">
        <div class="content-block">
            <h2 class="content-title">ENTER YOUR ACCESS TOKEN HERE</h2>
            <input id="token" type="text" size="100" placeholder="Access Token..."/>
        </div>
        <div class="content-block">
            <h2 class="content-title">START SOCKET</h2>
            <div class="row">
                <div class="row">
                    <input id="socket_lat" type="text" placeholder="Latitude..."/><br />
                    <input id="socket_long" type="text" placeholder="Longitude..."/><br />
                </div>
                <input id="socket_output" disabled="true" size="50" type="text" placeholder="socket status..." />
            </div>
            <div class="row">
                <input id="socket_open_submit" type="button" value="Start Connection"/>
                <input id="socket_close_submit" type="button" value="End Connection"/>
            </div>
        </div>

        <div class="content-block">
            <h2 class="content-title">POST MESSAGE</h2>
            <textarea id="post_message" placeholder="message..." cols="150" rows="3"></textarea><br />
            <input id="post_submit" type="button" value="Post Message"/><br/>
            <textarea id="post_output" rows="2" cols="100" disabled="true" placeholder="output here..."></textarea>
        </div>

        <div class="content-block">
            <h2 class="content-title">RETRIEVE MESSAGES</h2>
            <input id="retrieve_range" type="number" placeholder="Range"/><br />
            <input id="retrieve_submit" type="button" value="Retrieve Messages"/><br />
        </div>

        <div class="content-block">
            <textarea id="retrieve_output" rows="20" cols="150" disabled="true" placeholder="output here..."></textarea>
        </div>
        <div class="content-block">
            <textarea id="notification_output" rows="5" cols="150" disabled="true" placeholder="notifications..."></textarea>
        </div>
        <div class="content-block">
            <textarea id="error_output" rows="5" cols="150" disabled="true" placeholder="errors.."></textarea>
        </div>
    </div>


    <script>
    /////////////////////
    // util functions for lazy people
    /////////////////////
    function getDom(id) {
        return document.getElementById(id);
    }
    function getVal(id) {
        return getDom(id).value;
    }

    //get web socket protocol
    var protocol = (window.location.protocol === "https:") ? "wss:" : "ws:";
    var webSocket = null;
    var response = "no response";
    var get_token_url = window.location.host + "/api/token/";

    /////////////////////
    // 1. OPEN-CLOSE web socket connection
    /////////////////////
    getDom("socket_open_submit").onclick = function(e) {
        var geoloc = getVal("socket_lat") + "," + getVal("socket_long");
        webSocket = new WebSocket(protocol + "//" + window.location.host + "/ws/" + geoloc + "/");

        // register event handlers
        // Send the access token to authenticate ourselves after the socket is opened
        webSocket.onopen = function(e) {
            webSocket.send(JSON.stringify({
                "token": getVal("token")
            }));
        }

        // response to messages from the server
        webSocket.onmessage = function(e) {
            var json_data = JSON.parse(e.data);
            var category = json_data.category;
            var data = json_data.data;
            var outputDom = null;

            switch(category) {
                case "socket":
                    outputDom = getDom("socket_output");
                    break;
                case "post":
                    outputDom = getDom("post_output");
                    break;
                case "retrieve":
                    outputDom = getDom("retrieve_output");
                    break;
                case "notification":
                    outputDom = getDom("notification_output");
                    break;
                default:
                    outputDom = getDom("error_output");
            }

            outputDom.value = JSON.stringify(data, null, "\t");
        };

        // websocket closed
        webSocket.onclose = function(e) {
            getDom("socket_output").value = "Socket closed unexpectedly";
        };
    };

    // close the websocket
    getDom("socket_close_submit").onclick = function(e) {
        webSocket.close();
    };

    /////////////////////
    // 2. Post a message
    /////////////////////
    getDom("post_submit").onclick = function(e) {
        var msg = getDom("post_message");
        webSocket.send(JSON.stringify({
            "category": 0,
            "data": msg.value
        }));
        msg.value = "";
    };

    // 3. Retrieve messages by range (code: 4)
    getDom("retrieve_submit").onclick = function(e) {
        webSocket.send(JSON.stringify({
            "category": 4,
            "page": 1,
            "range": getVal("retrieve_range"),
        }));
    };

    /////////////////////
    // 3. click shortcuts
    /////////////////////
    getDom("post_message").onkeyup = function(e) {
        if (e.keyCode === 13) {
            getDom("post_submit").click();
        }
    };

    getDom("retrieve_range").onkeyup = function(e) {
        if (e.keyCode === 13) {
            getDom("retrieve_submit").click();
        }
    };

    getDom("socket_long").onkeyup = function(e) {
        if (e.keyCode === 13) {
            getDom("socket_open_submit").click();
        }
    };
    </script>
</body>
</html>